* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #E84B0C;
    position:fixed;
    top:0;
    z-index:99999;
    width:100%;
}

a {
    color: white;
}

    a:hover {
        color: #FF6D00;
    }

.logo {
    width: 150px;
    margin-right: 50px;
}

.menu-img {
    width: 35px;
}

.nav-link {
    font-size: 20px;
}

.halls {
    background-color: #E84B0C;
}

.tittle {
    color: white;
    padding: 25px;
    text-align: center;
}

.sub-tittle {
    color: white;
    text-align:center;
}

.halls-block {
    padding-bottom: 25px;
}

.halls-block-item {
    width: 100%;
    display:flex;
    flex-direction: column;
    -ms-align-items:center;
    -o-align-items:center;
    -webkit-align-items:center;
    align-items:center;
    padding-bottom: 5%;
}

.halls-descr {
    color:white;
    font-size: 12px;
    text-align:center;
    margin-bottom:15px;
}

.btn-div {
    text-align: center;
}

.btn-warning {
    color: white;
    background-color: #FF6D00;
    border-color: #FF6D00;
}

#carouselExampleCaptions {
    box-shadow: 0 0 15px black;
}

.trainer-block {
    min-height: 600px;
    background: url(../Images/bg-trainer-1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trainer-block-info {
    min-height: 1000px;
    background-color: #E84B0C;
    box-shadow: 0 0 15px black;
}

.title-crossfit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-crossfit  img {
    width: 50px;
}

.sub-tittle-trainer {
    margin: 0 10px 0 10px;
    color: white;
    align-self: flex-end;
}

.card {
    box-shadow: 0 0 15px black;
    margin: 15px;
}

.card img {
    padding-top: 10px;
}

.trainer-phone {
    font-size: 14px;
}

.trainer-details {
    margin-top: 72px;
}

.r-info {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
}

    .r-info img {
        box-shadow: 0 0 15px black;
    }

.trainer-info-tittle {
    margin-top: 10px;
    text-align: center;
    color: #E84B0C;
}

.l-info {
    display: flex;
    background-color: #E84B0C;
    justify-content: center;
}

.trainer-info-img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%;
    align-self: center;
}

.trainer-descr {
    color: white;
    margin: 25px;
    font-size: 16px;
    line-height: 35px;
}

.trainer-descr span {
    font-weight: 900;
}

.descr {
    margin-bottom: 40px;
    width: 100%
}

.trainer-details {
    background-color: #E84B0C;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid white;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 60px;
}

td:hover {
    color: #E84B0C;
    background-color: white;
    cursor: pointer;
}

th {
    font-weight: bold;
    background-color: white;
    color: #E84B0C;
}

.trainer-calendar {
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}

.calendar-btn {
    align-self: center;
    margin-top:25px;
}

.trainer-edit {
    align-self: flex-end;
    margin-right: 10px;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: #dc3545;
}

.add-crossfit {
    align-self: flex-end;
    margin-left: 10px;
}

.main-trainer-card {
    width: 100%;
}